@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
}
body{
  max-width: 1300px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}
.header .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.header a{
  text-decoration: none;
}
#name{
  color: #e3e3e3;
 } 
.sub{
  color: rgba(255, 255, 0, 0.87);
  font-size: 15px;
  vertical-align: sub;
  font-style: oblique;
  cursor: pointer;
  font-family: 'Dancing Script', cursive;
}
.sub:hover{
  color: rgba(217, 255, 0, 0.877);
  transition: .5s ease-in-out;
}
.logo img{
  border-radius: 100px;
  box-shadow: 3px 2px 20px rgb(250, 124, 20), -5px 2px 10px rgb(20, 166, 250);
  width: 50px;
  cursor: pointer;
}
.main{
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  height: 90% ;
}
.content{
  height: 450px;
  width: 350px;
  border-radius: 10px;
  background-color: #e3e3e3c0;
  box-shadow: 3px 2px 20px rgba(250, 123, 20, 0.836), -5px 2px 10px rgb(20, 166, 250);
}
.links{
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.links li{
  list-style: none;
  padding: 30px;
  width: 100%;
}
.links a{
  text-decoration: none;
  padding: 10px;
  display: flex;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  justify-content: center;
  background-color: #e3e3e3;
  color: #000;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items:baseline;
  transition: all .5s ease-in-out;
  /* font-family: 'Poppins', sans-serif; */
}
.links a:hover{
  letter-spacing: 2px;
  background-color: rgba(0, 255, 149, 0.678);
  box-shadow: 0 0 10px rgba(31, 74, 218, 0.5);
  border-radius: 20px;
}
.fas,  .fa-brands{
  font-size: 18px;
}
.ball {
  pointer-events: none;
  position: absolute; 
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: rgb(240, 240, 240);
  animation: implode 1s ease-in-out;
  animation-fill-mode: both;
  opacity: 0.2;
  z-index: -1;
}
@keyframes implode {
  100% {transform: scale(0)}
}
@media only screen and (max-width: 768px){
  body{
    padding: 5px 10px;
    overflow: hidden;
  }
}